header .header-wrapper .header-wrapper-desktop .header {
  border-top-color: #ffe048;
}

header .header-wrapper .header-wrapper-desktop .header.header-style-2 .sub-header {
  background-color: #ffe048;
}

.header-navbar .navbar-menu > li:hover > a,
.header-navbar .navbar-menu > li.active > a {
  color: #ffe048;
}

.header-navbar .navbar-menu > li .sub-menu {
  border-top-color: #ffe048;
}

.header-navbar .navbar-menu > li .sub-menu li a:hover {
  background-color: #ffe048;
}

.header-button span:hover {
  color: #ffe048;
}

.au-bullet-1 .tp-bullet.selected {
  background-color: rgba(255, 224, 72, 0.89);
}

.au-bullet-2 .tp-bullet.selected span {
  background-color: #ffe048;
}

.au-bullet-3 .tp-bullet {
  background-color: rgba(255, 224, 72, 0.5);
}

.au-bullet-3 .tp-bullet.selected {
  background-color: #ffe048;
}

.rev_slider .slide-button {
  background-color: #ffe048;
}

.rev_slider .slide-button-1 {
  background-color: #ffe048;
}

.about .about-container .about-video .video-play a:hover {
  border-color: #ffe048;
  color: #ffe048;
}

.about-readmore.style-1 a {
  background-color: #ffe048;
}

.about-readmore a {
  color: #ffe048;
}

.about-us .video .video-play a:hover {
  background-color: #ffe048;
}

.blog.blog-style-1 .blog-content .blog-button .blog-tags i {
  color: #ffe048;
}

.blog.blog-style-1 .blog-content .blog-button .blog-readmore i {
  color: #ffe048;
}

.blog.blog-style-2 .blog-container {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog.blog-style-2 .blog-container .blog-image .blog-image-container .blog-date .day {
  color: #ffe048;
}

.blog.blog-style-2 .blog-container .blog-content .blog-content-title:hover {
  color: #ffe048;
}

.blog.blog-style-3 .blog-container .blog-image .blog-image-container .blog-date .day {
  color: #ffe048;
}

.blog.blog-style-3 .blog-container .blog-content .blog-content-title:hover {
  color: #ffe048;
}

.blog.blog-style-3 .blog-container .blog-content .blog-info li a i {
  color: #ffe048;
}

.blog-button .blog-tags a:hover {
  color: #ffe048;
}

.blog-button .blog-readmore a:hover {
  color: #ffe048;
}

.blog-detail .blog-container .blog-detail-footer .blog-tags a:hover {
  color: #ffe048;
}

.blog-panigation .blog-prev a:hover,
.blog-panigation .blog-next a:hover {
  color: #ffe048;
}

.comment-place {
  margin-top: 40px;
  margin-bottom: 40px;
}

.comment-place .title {
  margin-bottom: 10px;
}

.comment-place .title h2 {
  color: #333;
  font-weight: 900;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
}

.comment-place .title p {
  font-size: 13px;
  line-height: 1.8461538462;
}

.comment-place .comment-body .comment-content .user-comment .comment-item .comment-text .comment-info a.author:hover {
  color: #ffe048;
}

.comment-place .comment-body .comment-content .user-comment .comment-item .comment-text .comment-info a.reply i {
  color: #ffe048;
}

.btn {
  background-color: #ffe048;
}

footer .footer-wrapper .footer-style-1 .footer-item .footer-form input[type="submit"] {
  background-color: #ffe048;
}

footer .footer-wrapper .footer-style-1 .footer-item .footer-form input[type="submit"]:hover {
  color: #ffe048;
}

.hire-us.hire-us-style-1 .hire-us-container .hire-us-button a {
  background-color: #ffe048;
}

.hire-us.hire-us-style-1 .hire-us-container .hire-us-button a:hover {
  background-color: #333;
}

.hire-us.hire-us-style-2 .hire-us-container .hire-us-button a {
  background-color: #ffe048;
}

.hire-us.hire-us-style-2 .hire-us-container .hire-us-button a:hover {
  background-color: #333;
}

.iconbox.iconbox-style-1 .iconbox-container .iconbox-content {
  background-color: rgba(255, 224, 72, 0.9);
}

.iconbox.iconbox-style-2 .iconbox-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.iconbox.iconbox-style-2 .iconbox-container .iconbox-image a {
  background-color: #ffe048;
}

.iconbox.iconbox-style-2 .iconbox-container .iconbox-image a:hover {
  color: #ffe048;
  border: 1px solid #ffe048;
}

.iconbox.iconbox-style-2 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048;
}

.iconbox.iconbox-style-3 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048;
}

.iconbox.iconbox-style-4 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048 !important;
}

.iconbox.iconbox-style-5 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048;
}

.iconbox.iconbox-style-5 .iconbox-container .iconbox-button a:hover {
  background-color: #333;
}

.iconbox.iconbox-style-6 .iconbox-container .iconbox-image a {
  color: #ffe048;
  border: 1px solid #ffe048;
}

.iconbox.iconbox-style-6 .iconbox-container .iconbox-image a:hover {
  background-color: #ffe048;
  border: 1px solid #ffe048;
}

.iconbox.iconbox-style-6 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048;
}

.iconbox.iconbox-style-7 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048;
}

.iconbox.iconbox-style-8 .iconbox-container .iconbox-content .iconbox-content-heading:hover {
  color: #ffe048;
}

.tabs-3 .tab-title {
  border-bottom: 3px solid #ffe048;
}

.tabs-3 .tab-title span:hover {
  color: #ffe048;
}

.tabs-3 .tab-title span.active {
  background-color: #ffe048;
}

.testi-author .testi-author-content .testi-author-name:hover {
  color: #ffe048;
}

.princing .princing-container {
  border-top: 5px solid #ffe048;
}

.princing .princing-container .princing-button {
  background-color: #ffe048;
}

.princing-1 .princing-container .princing-button a {
  background-color: #ffe048;
}

.princing-2 .princing-item .princing-container .princing-button a {
  background-color: #ffe048;
}

.au-progress .au-progress__bar .au-progress__inner {
  background-color: #ffe048;
}

.project .project-container .project-content {
  background-color: rgba(255, 224, 72, 0.9);
}

.loading .load > div {
  background-color: #ffe048;
}

.owl-nav-1 .au-owl-next:hover,
.owl-nav-1 .au-owl-prev:hover {
  background-color: #ffe048;
  border-color: #ffe048;
}

.au-owl-dots .owl-dots .owl-dot.active span {
  background-color: #ffe048;
}

.au-owl-dots .owl-dots .owl-dot span {
  background-color: rgba(255, 224, 72, 0.5);
}

.contact-form .au-form button {
  background-color: #ffe048;
}

.owl-carousel-1 .owl-dots .owl-dot.active {
  -webkit-box-shadow: 0px 0px 0px 3px #ffe048;
  -moz-box-shadow: 0px 0px 0px 3px #ffe048;
  box-shadow: 0px 0px 0px 3px #ffe048;
}

.au-panigation ul li a:hover {
  background-color: #ffe048;
}

.au-panigation ul li.page-current a {
  background-color: #ffe048;
}

.video .video-play a:hover {
  color: #ffe048;
  border-color: #ffe048;
}

.social-media ul li a {
  background-color: rgba(255, 224, 72, 0.1);
}

.social-media ul li a:hover {
  background-color: #ffe048;
}

.social-media.social-style-1 ul li a:hover {
  background-color: #ffe048;
}

.social-media.social-style-2 ul li a:hover {
  color: #ffe048;
}

.social-media.social-style-3 ul li a:hover {
  background-color: #ffe048;
}

#menusidebar .sidebar-menu-list ul li a:hover {
  background-color: #ffe048;
}

.great-team .great-team-container .team-image .social-link {
  background-color: rgba(255, 224, 72, 0.9);
}

.page-title .page-links .breadcrumb .breadcrumb-item a {
  color: #ffe048;
}

.service-intro .service-button a {
  background-color: #ffe048;
}

.au-grid .au-filter .filter-list li span:hover {
  color: #ffe048;
}

.au-grid .au-filter .grid-timeline span:hover {
  color: #ffe048;
}

.au-widget .catalog ul li a:hover {
  color: #ffe048;
}

.au-widget .poster a {
  background-color: #ffe048;
}

.error .error-container a {
  background-color: #ffe048;
}

.coming-soon .coming-container form button:hover {
  background-color: #ffe048;
}

.coming-soon .coming-container .time-countdown ul li .time-value span {
  color: #ffe048;
}

.accordion-1 .acc_section.acc_active .acc_head {
  background-color: #ffe048;
}

.accordion-2 .acc_section.acc_active .acc_head {
  background-color: #ffe048;
}

.tabs-1 .tab-title span:hover, .tabs-1 .tab-title span.active {
  background-color: #ffe048;
}

.tabs-2 .tab-title span.active:before {
  background-color: #ffe048;
}

.tabs-2 .tab-title span:hover {
  color: #ffe048;
}

.tabs-3 .tab-title span:hover {
  color: #ffe048;
}

.tabs-3 .tab-title span.active {
  background-color: #ffe048;
}

.tabs-4 .tab-title span:hover {
  color: #ffe048;
}

.tabs-4 .tab-title span.active {
  -webkit-box-shadow: inset 0 3px 0px 0 #ffe048;
  -moz-box-shadow: inset 0 3px 0px 0 #ffe048;
  box-shadow: inset 0 3px 0px 0 #ffe048;
}

.bg-blue {
  background-color: #ffe048;
}
